extends layout

block head
    script(src='/scripts/jquery-3.3.1.min.js')
    script(src='/scripts/three.js')
    script(src='/scripts/OrbitControls.js')
    script(src='/scripts/cannon.js')

    link(rel='stylesheet', href='/styles/style.css')

block content
    title DoublePendulum

    #viewport

    script(src='/scripts/powerpendulum.js')